<!DOCTYPE html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>South Shore Royal Tees - Long Island Screen Printing</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>   
  </head>

  <body>
  <div class="container">
		<header class="row hidden-xs">
			<div class="col-sm-6" > 
				<div id="header-logo-cont"> <%= image_tag('logo.png', id: "header-logo") %> </div>
			</div>
			<div class="col-sm-6">
				<div class="row"> 
					<div id="contact-info-cont">
						 <div class="col-xs-11" id="header-social-links">
								<a class="header-social-link" href="https://www.facebook.com/South-Shore-RoyalTees-413054182090007"> <%= image_tag("black_facebook", class: "header-social-logo", alt: "facebook") %> </a>
								<a class="header-social-link" href="https://www.instagram.com/southshoreroyaltees/"> <%= image_tag("black_insta", alt: "instagram", class: "header-social-logo") %>  </a>
								<a href="#" class="header-social-link"> <%= mail_to "SouthShoreRoyalTees@gmail.com", raw(image_tag("black_mail", alt: "mail", class: "header-social-logo")) %></a>
		</div>

						 <div class="col-xs-1"></div>
						 <div class="col-xs-11" id="header-contact-info">
						 		<p> 631-225-2911</p>
						 		<p> <%= mail_to "SouthShoreRoyalTees@gmail.com" %> </p>
						 		<p> 150 West Hoffman Avenue</p>
						 		<p> Lindenhurst, NY - 11757</p>
						 </div>
						 <div class="col-xs-1"></div>
					</div>
				</div>
			</div>
	</header>
	<div class="row">
		<div class="col-xs-12 no-padding">
			 <nav class="navbar navbar-inverse">
		  	<div class="container-fluid">
		    	<div class="navbar-header">
		      	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>
		        	<span class="icon-bar"></span>                        
		      	</button>
		    	</div>
		    	<div class="collapse navbar-collapse" id="myNavbar">
		      	<ul class="nav navbar-nav">
		        	<li><%=link_to("HOME", root_path, class: "nav-links", id: "nav-end-left") %></li>
		        	<li><%=link_to("ABOUT", main_about_path, class: "nav-links") %></li>
		        	<li><%=link_to("PORTFOLIO", main_portfolio_path, class: "nav-links") %></li>
		        	<li><%=link_to("CONTACT", main_contact_path, class: "nav-links") %></li>
		        	<li>
		        		<a class="nav-links" href="http://www.imprintablefashion.com/cgi-bin/hw/hwb/chw-pseudoHome.w?hwCN=149153151152152148&hwCNCD=CEdiaboaifomgkcl&hwST=1">CATALOG</a>
	        		</li>
		        	<li><%=link_to("STORE", main_store_path, class: "nav-links", id: "nav-end-right") %></li>

		      	</ul>
	    		</div>
		  	</div>
			</nav> 
		</div>
	</div>
    <%= yield %>
    <div class="row visible-xs" id="mobile-contact-cont">
    	<div class="col-xs-12">
		<div class="row" id="mobile-contact-social">	
			<div class="col-xs-4"><a href="https://www.facebook.com/South-Shore-RoyalTees-413054182090007"> <%= image_tag("black_facebook", alt: "facebook", class: "mobile-social-logo") %> </a> </div>
			<div class="col-xs-4"> <a href="https://www.instagram.com/southshoreroyaltees/"> <%= image_tag("black_insta", alt: "instagram", class: "mobile-social-logo") %>  </a></div>
			<div class="col-xs-4"><%= mail_to "SouthShoreRoyalTees@gmail.com", raw(image_tag("black_mail", alt: "mail", class: "mobile-social-logo")) %>  </div>
			<div class="col-xs-12"> <p id="mobile-contact-connect">Connect with us! </div>	
		</div>

	</div>
	<div class="col-xs-12" id="mobile-contact-info">
		<p> <u> Contact</u></p>
		<p> 631-225-2911 - <%= mail_to "SouthShoreRoyalTees@gmail.com" %></p>
 		<p> 150 West Hoffman Avenue Lindenhurst, NY - 11757</p>
	</div>

</div>
    </div>
  </body>
</html>








